a{
    width: 300px !important;
    height: 120px !important;
    margin: 20px;
   text-decoration: none;

   border-radius: 
}
body{
    background: url('image/h.jpg');
}
#bt{
    width:80px !important;
    height:40px !important;
}
h1{
    font-size: 50px;
    color: crimson;
}
input[type=text],input[type=date],input[type=file],#select{
    width: 500px !important;
}
.forms{
    margin-top: 60px ;
}
#bt{
    width: 90px;
    height: 30px;
    background-color: aqua;
    color: black !important;
}
label{
    color: white;
}